In [1]:
import os
import quantipy as qp

In [2]:
NAME = "Example Data (A)"
DATA = os.path.join(os.path.dirname(os.getcwd()), "tests/data")

In [3]:
ds = qp.DataSet.from_quantipy(NAME, DATA)
stack = qp.Stack(NAME, add_data={NAME: {"dataset": ds}})

INFO : quantipy.core.dataset _verbose_io --> Load qp.DataSet from 'quantipy' data: 'Example Data (A)' ('/home/kerstin/Desktop/dev/quantipy/tests/data')

In [10]:
ds.set_sorting("q8")

In [11]:
stack.add_link(NAME, None, "gender", "@")
link = stack[NAME][None]["gender"]["@"]
link.crosstab(rules=False)

Question         gender
Values                @
Question Values
gender   1       3952.0
         2       4303.0

In [12]:
stack.add_link(NAME, None, "gender", "q8")
link = stack[NAME][None]["gender"]["q8"]
link.crosstab(rules=False)

Question            q8
Values              1      2      3      4      5      96    98
Question Values
gender   1       473.0  112.0  293.0  507.0  636.0  165.0  26.0
         2       476.0  104.0  302.0  463.0  599.0  118.0  23.0

In [5]:
stack.add_link(NAME, None, "@", "gender")
link = stack[NAME][None]["@"]["gender"]
link.crosstab(rules=True)

['x', 'y']

Question         gender
Values                1       2
Question Values
gender   @       3952.0  4303.0

In [6]:
raise

RuntimeError: No active exception to reraise

In [ ]:
for k, v in link.items():
    print('*'*60)
    print(k)
    print(v.dataframe)

In [ ]:
link.crosstab()

In [ ]:
link

In [ ]:
raise

In [ ]:
import os
import json
import quantipy as qp
load = qp.core.tools.functions.load_json
save = qp.core.tools.functions.save_json

In [ ]:
NAME = "engine_B.json"
PATH = os.path.join(os.getcwd(), "data", NAME)
jsonf = load(PATH)

In [ ]:
del jsonf["columns"]["q4"]["sep"]
jsonf["columns"]["q4"]["values"] = [
    {"value": 1, "text": {"en-GB": "Breakfast", "de-DE": "Frühstück"}},
    {"value": 2, "text": {"en-GB": "Lunch", "de-DE": "Mittagessen"}},
    {"value": 3, "text": {"en-GB": "Dinner", "de-DE": "Abendessen"}},
]

In [ ]:
jsonf["masks"]["cost"]["type"] = "array"
jsonf["masks"]["cost"]["subtype"] = "float"
jsonf["masks"]["q1"]["type"] = "array"
jsonf["masks"]["q1"]["subtype"] = "single"
jsonf["masks"]["q2"]["type"] = "array"
jsonf["masks"]["q2"]["subtype"] = "single"
jsonf["masks"]["q3"]["type"] = "array"
jsonf["masks"]["q3"]["subtype"] = "single"

In [ ]:
NAME = "engine_B3.json"
PATH = os.path.join(os.getcwd(), "data", NAME)
save(jsonf, PATH)